//Queries for Responsive Design

@media screen and (max-width: 500px) {
  //NAVBAR

  #main-nav {
    .nav-container {
      .navbar {
        .menu {
          position: absolute;
          top: 135px;
          left: 0;
          width: 100%;
          padding: 10px;
          z-index: 3;
          height: 0;
          overflow: hidden;
          @include easeOut;

          .navbar-links {
            @include flex-col;

            .navbar-link {
              margin-bottom: 15px;

              &:nth-child(1) {
                margin-top: 15px;
              }

              .link-item {
                display: block;
                margin: 0px 0px 10px 20px;
              }
            }
          }
        }
        .fas.fa-bars {
          display: block;
          margin-left: auto;
        }
      }
    }
  }

  //LANDING

  //PRICE CARDS
  #landing {
    .card-slide {
      width: 240px;
      margin: 60px 0px 50px 10px;

      .card {
        .card-item {
          h1 {
            font-size: 45px;
            margin: 0px 100px 10px 0px;
          }

          p {
            align-self: flex-end;
            font-size: 17px;

            &:nth-of-type(1) {
              margin: 0 15px 25px 0;

              i {
                font-size: 45px;
              }
            }

            &:nth-of-type(2) {
              font-weight: 600;
              i {
                font-size: 17px;
                color: $primary-color;
              }
            }
          }
        }
      }

      a {
        display: inline-block;
        border: 4px solid grey;
        width: 30px;

        &:hover {
          border-color: $primary-color;
          transition: all 0.5s ease-out;
        }
      }
    }

    #search {
      width: 80%;
      margin: 0px 10px 0px 10px;
      padding: 10px;

      .input-group {
        justify-content: center;
        width: 100%;
        margin: 0px 20px;

        .input {
          width: 100%;

          input {
            width: 100%;
          }
        }
      }

      #search-btn {
        margin: 15px 0 25px 0;
        width: 100%;
      }
    }
  }

  //INFO

  #info {
    @include flex-col-align-center;

    .info-text,
    .info-img {
      align-self: center;
      margin: 50px 0px 30px 0px;
      width: 95%;
    }
    .info-img {
      margin: 0px 0px 45px 0px;
    }
  }

  //SERVICES
  #services {
    h1 {
      text-align: center;
    }

    .grid-container,
    .service {
      width: 100%;
    }

    #tours {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(7, 200px);
      grid-template-areas:
        "canada canada"
        "canada canada"
        "canada canada"
        "asia asia"
        "asia asia"
        "europe europe"
        "us us";
    }
  }

  //EXPERIENCE
  #experience {
    @include flex-col-align-center;

    .experience-text,
    .experience-info {
      width: 95%;
      margin: 0;
    }

    .experience-text {
      text-align: center;
      margin: 30px 0px 30px 0px;

      h1 {
        width: 100%;
        text-align: center;
      }
    }
    .experience-info {
      margin-bottom: 50px;

      .info-card {
        text-align: center;
      }
    }
  }

  //GUIDES
  #guides {
    h1 {
      text-align: center;
    }
    .guides-container {
      grid-template-columns: 1fr;
      justify-content: initial;

      .guide-card {
        width: 100%;
      }
    }
  }

  //GALLERY
  #gallery {
    .gallery-popup {
      @include flex-col-align-center;
      justify-content: initial;

      .popup {
        width: 90%;
        height: auto;
        margin-top: 200px;

        img {
          width: 90%;
          height: 80%;
          margin-bottom: 15px;
        }
      }
    }

    h1 {
      text-align: center;
    }
    .gallery-container {
      grid-template-columns: 1fr;
      .gallery-card {
        justify-self: center;
        width: 95%;
      }
    }
  }

  //PRICES
  #prices {
    .price-container {
      .price-info {
        width: 100%;

        .price-img,
        .price-book {
          width: 100%;
        }
      }
    }
  }

  //REVIEWS
  #reviews {
    h1 {
      text-align: center;
    }

    .review-container .review-card {
      margin: 0px 10px 30px 10px !important;
    }
  }

  //CONTACT US
  #contact {
    h1 {
      text-align: center;
    }

    .form-container {
      #contact-form {
        width: 90%;
        margin: 0px 0px 50px 0px;
        //padding: 0;

        input,
        textarea,
        button {
          width: 98%;
        }
      }

      .form-img {
        width: 300px;
        height: 300px;
      }
    }
  }

  //MAIN FOOTER
  #main-footer {
    .footer-container {
      .footer-card {
        margin-bottom: 30px;
      }
    }

    .footer-text {
      @include flex-col-align-center;

      p,
      .scroll-up {
        margin: 0px 0px 20px 0px;
      }

      p {
        text-align: center;
        padding: 0px 10px;
      }
    }
  }
}

@media screen and (min-width: 501px) and (max-width: 1040px) {
  //Navbar
  #main-nav {
    .nav-container {
      .navbar {
        .menu {
          visibility: hidden;
          position: absolute;
          top: 135px;
          left: 0;
          width: 100%;
          padding: 10px;
          z-index: 3;
          height: 0;
          overflow: hidden;
          @include easeOut;

          .navbar-links {
            @include flex-col;

            .navbar-link {
              margin-bottom: 15px;

              &:nth-child(1) {
                margin-top: 15px;
              }

              .link-item {
                display: block;
                margin: 0px 0px 10px 20px;
              }
            }
          }
        }
        .fas.fa-bars {
          display: block;
          margin-left: auto;
        }
      }
    }
  }

  //INFO
  #info {
    @include flex-col-align-center;

    .info-text,
    .info-img {
      align-self: center;
      margin: 50px 0px 30px 0px;
      width: 95%;
    }
    .info-img {
      margin: 0px 0px 45px 0px;
    }
  }

  //Tours
  #services {
    #tours {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(7, 200px);
      grid-template-areas:
        "canada canada"
        "canada canada"
        "canada canada"
        "asia asia"
        "asia asia"
        "europe europe"
        "us us";
    }
  }

  //Gallery
  #gallery {
    .gallery-popup {
      .popup {
        width: 45%;
      }
    }
    h1 {
      text-align: center;
    }
    .gallery-container {
      grid-template-columns: 1fr 1fr;
      .gallery-card {
        justify-self: center;
        width: 80%;
      }
    }
  }
}

@media screen and (min-width: 1041px) and (max-width: 1450px) {
  #gallery {
    .gallery-popup {
      .popup {
        width: 45%;
      }
    }
  }
}
