/*-----------------------------------

    Project name:  Tripspot redesign
    Project start date: 24.06.2019
    Project end date: -
    Author: Berk Açıkgöz

    CONTENTS:

    - Section 1 (Landing)
    - Section 2 (Info 1)
    - Section 3 (Services)
    


-----------------------------------*/

@import "config";

//GLOBAL RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// NAVBAR

#main-nav {
  @include flex-col-align-center;
  position: fixed;
  font-family: $primary-font;
  width: 100%;
  z-index: 3;

  .nav-container {
    @include flex-col;
    width: 90%;
  }

  .nav-ph {
    align-self: flex-end;
    color: #fff;
    letter-spacing: 1.5px;
    margin: 20px 0 25px 0;
  }

  .navbar {
    @include flex-align-center;

    .navbar-brand {
      @include flex;
      text-decoration: none;
      font-size: 30px;
      color: #fff;

      i {
        font-size: 38px;
        color: $primary-color;
        margin-right: 5px;
      }
    }

    .navbar-links {
      @include flex;
      list-style: none;
      margin-left: auto;

      .navbar-link {
        margin-right: 25px;

        .link-item {
          text-decoration: none;
          color: #fff;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}

// SECTION 1 - LANDING

#landing {
  @include flex-justify-center;
  align-items: center;
  background: url(../img/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20% 0px;
  width: 100%;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
  }

  //PRICE CARDS

  .card-slide {
    position: relative;
    color: #fff;
    z-index: 2;
    width: 349px;

    .card {
      @include flex-justify-center;
      position: relative;
      overflow: hidden;

      .card-item {
        @include flex-col;
        font-family: $primary-font;

        h1 {
          align-self: flex-start;
          font-size: 80px;
          font-weight: 600;
          margin: 0px 100px 10px 0px;
        }

        p {
          align-self: flex-end;
          font-size: 30px;

          &:nth-of-type(1) {
            margin: 0 15px 25px 0;

            i {
              font-size: 60px;
            }
          }

          &:nth-of-type(2) {
            font-weight: 600;
            i {
              font-size: 30px;
              color: $primary-color;
            }
          }
        }
      }
    }

    a {
      display: inline-block;
      border: 4px solid grey;
      width: 30px;

      &:hover {
        border-color: $primary-color;
        transition: all 0.5s ease-out;
      }
    }
  }

  //SEARCH FORM

  #search {
    @include flex-col-align-center;
    position: relative;
    color: #fff;
    background-color: rgba(0%, 0%, 50.2%, 0.2);
    margin-left: 200px;
    z-index: 2;

    p {
      font-family: $primary-font;
      font-weight: 700;
      font-size: 22px;
      letter-spacing: 0.5px;
      text-align: center;
      margin: 25px 0 10px 0;
    }

    .input-group {
      @include flex;
      margin: 5px 20px;

      .input {
        @include flex-col;

        &:nth-child(1) {
          margin-right: 5px;
        }

        label {
          font-family: $primary-font;
          font-size: 14px;
          margin-bottom: 3px;
        }

        input {
          font-family: $primary-font;
          border: 1px solid grey;
          border-radius: 3px;
          padding-left: 5px;
          height: 35px;
          width: 200px;
        }
      }
    }

    #search-btn {
      -webkit-appearance: none;
      background-color: $primary-color;
      border: none;
      border-radius: 3px;
      color: #fff;
      font-family: $primary-font;
      font-size: 15px;
      letter-spacing: 0.7px;
      margin: 5px 0 25px 0;
      padding: 10px 0px;
      width: 405px;
      transition: background-color 0.3s ease-out;

      &:hover {
        background-color: darken($primary-color, 10);
        cursor: pointer;
        transition: all 0.3s ease-out;
      }
    }
  }
}

// SECTION 2 - INFO 1
#info-1 {
  @include flex-align-center;
  position: relative;
  z-index: 2;
  background-color: $primary-color;

  .info-text {
    align-self: flex-start;
    font-family: $primary-font;
    color: #fff;
    margin: 80px 0px 0px 70px;
    width: 90%;

    h3 {
      font-weight: 600;
      font-size: 30px;
      line-height: 1.5;
      letter-spacing: 0.8px;
      margin-bottom: 30px;
      width: 80%;
    }

    p {
      font-family: $secondary-font;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }

    a {
      display: inline-block;
      background-color: $secondary-color;
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      font-weight: 400;
      padding: 13px 32px;
      border: none;
      border-radius: 4px;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }

  .info-img {
    width: 100%;
    height: 50%;
    margin: 100px 70px 150px 30px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

// SECTION 3 - SERVICES

#services {
  @include flex-col-align-center;

  h1 {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin: 100px 0px 50px 0px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 50px;
    justify-content: center;
    width: 90%;

    .service {
      text-align: center;
      width: 90%;

      i {
        color: $primary-color;
        font-size: 35px;
        margin-bottom: 15px;
      }

      h4 {
        font-family: $primary-font;
        font-weight: 600;
        font-size: 24px;
        letter-spacing: 0.8px;
        margin-bottom: 20px;
      }
      p {
        font-family: $secondary-font;
        line-height: 2;
        letter-spacing: 1px;
        color: #707579;
      }
    }
  }

  .tours {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas:
      "canada canada asia asia"
      "canada canada asia asia"
      "canada canada europe us";
    justify-content: center;
    grid-gap: 10px;
    margin: 50px 0px 120px 0px;
    width: 90%;

    .tour {
      @include flex-justify-center;
      position: relative;
      font-family: $primary-font;

      @each $num, $tour in $tours {
        &:nth-child(#{$num}) {
          grid-area: $tour;
          background: url(../img/tour-#{$num}.jpg);
          background-size: cover;
          color: #fff;

          &:after {
            @include dark-overlay(#{$num});
          }
        }
      }

      h4 {
        text-align: center;
        align-self: flex-end;
        position: relative;
        letter-spacing: 4px;
        font-size: 25px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 30px;
        z-index: 2;
      }
    }
  }
}
