/*-----------------------------------
  -----------------------------------
  -----------------------------------

    Project Name:  Tripspot redesign 
    Project Start Date: 24.06.2019
    Project End Date: -
    Author: Berk Açıkgöz

    TABLE OF CONTENTS:
    
    - Global Reset
    - Navbar
    - Landing
    - Info
    - Services
    - Experience
    - Guides
    - Gallery
    - Prices
    - Client Reviews
    - Contact Us
    - Maps
    - Main Footer

-----------------------------------
-----------------------------------
-----------------------------------*/

@import "config";

//GLOBAL RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// NAVBAR

#main-nav {
  @include flex-col-align-center;
  position: fixed;
  font-family: $primary-font;
  width: 100%;
  z-index: 3;

  .nav-container {
    @include flex-col;
    width: 90%;
  }

  .nav-ph {
    align-self: flex-end;
    color: #fff;
    letter-spacing: 1.5px;
    margin: 20px 0 25px 0;
  }

  .navbar {
    @include flex-align-center;

    .navbar-brand {
      @include flex;
      text-decoration: none;
      font-size: 30px;
      color: #fff;

      i {
        font-size: 38px;
        color: $primary-color;
        margin-right: 5px;
      }
    }

    .navbar-links {
      @include flex;
      list-style: none;
      margin-left: auto;

      .navbar-link {
        margin-right: 25px;

        .link-item {
          text-decoration: none;
          color: #fff;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}

// SECTION 1 - LANDING

#landing {
  @include flex-justify-center;
  align-items: center;
  flex-wrap: wrap;
  background: url(../img/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20% 0px;
  width: 100%;

  .landing-overlay {
    @include dark-overlay(5);
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
  }

  //PRICE CARDS

  .card-slide {
    position: relative;
    color: #fff;
    z-index: 2;
    width: 349px;
    margin: 0px 0px 50px 10px;

    .card {
      @include flex-justify-center;
      position: relative;
      overflow: hidden;

      .card-item {
        @include flex-col;
        font-family: $primary-font;

        h1 {
          align-self: flex-start;
          font-size: 80px;
          font-weight: 600;
          margin: 0px 100px 10px 0px;
        }

        p {
          align-self: flex-end;
          font-size: 30px;

          &:nth-of-type(1) {
            margin: 0 15px 25px 0;

            i {
              font-size: 60px;
            }
          }

          &:nth-of-type(2) {
            font-weight: 600;
            i {
              font-size: 30px;
              color: $primary-color;
            }
          }
        }
      }
    }

    a {
      display: inline-block;
      border: 4px solid grey;
      width: 30px;

      &:hover {
        border-color: $primary-color;
        transition: all 0.5s ease-out;
      }
    }
  }

  //SEARCH FORM

  #search {
    @include flex-col-align-center;
    position: relative;
    color: #fff;
    background-color: rgba(0%, 0%, 50.2%, 0.2);
    margin: 0px 20px 0px 10%;
    z-index: 2;

    p {
      font-family: $primary-font;
      font-weight: 700;
      font-size: 22px;
      letter-spacing: 0.5px;
      text-align: center;
      margin: 25px 0 10px 0;
    }

    .input-group {
      @include flex;
      margin: 5px 20px;

      .input {
        @include flex-col;

        &:nth-child(1) {
          margin-right: 5px;
        }

        label {
          font-family: $primary-font;
          font-size: 14px;
          margin-bottom: 3px;
        }

        input {
          font-family: $primary-font;
          border: 1px solid grey;
          border-radius: 3px;
          padding-left: 5px;
          height: 35px;
          width: 200px;
        }
      }
    }

    #search-btn {
      -webkit-appearance: none;
      background-color: $primary-color;
      border: none;
      border-radius: 3px;
      color: #fff;
      font-family: $primary-font;
      font-size: 15px;
      letter-spacing: 0.7px;
      margin: 5px 0 25px 0;
      padding: 10px 0px;
      width: 405px;
      transition: background-color 0.3s ease-out;

      &:hover {
        background-color: darken($primary-color, 10);
        cursor: pointer;
        transition: all 0.3s ease-out;
      }
    }
  }
}

// SECTION 2 - INFO
#info {
  @include flex-align-center;
  position: relative;
  z-index: 2;
  background-color: $primary-color;

  .info-text {
    align-self: flex-start;
    font-family: $primary-font;
    color: #fff;
    margin: 80px 0px 0px 70px;
    width: 90%;

    h3 {
      font-weight: 600;
      font-size: 30px;
      line-height: 1.5;
      letter-spacing: 0.8px;
      margin-bottom: 30px;
      width: 80%;
    }

    p {
      font-family: $secondary-font;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }

    a {
      display: inline-block;
      background-color: $secondary-color;
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      font-weight: 400;
      padding: 13px 32px;
      border: none;
      border-radius: 4px;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }

  .info-img {
    width: 100%;
    height: 50%;
    margin: 100px 70px 150px 30px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

// SECTION 3 - SERVICES

#services {
  @include flex-col-align-center;
  background-color: #eee;

  h1 {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin: 100px 0px 50px 0px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 50px;
    justify-content: center;
    width: 100%;

    .service {
      text-align: center;
      width: 100%;

      i {
        color: $primary-color;
        font-size: 35px;
        margin-bottom: 15px;
      }

      h4 {
        font-family: $primary-font;
        font-weight: 600;
        font-size: 24px;
        letter-spacing: 0.8px;
        margin-bottom: 20px;
      }
      p {
        font-family: $secondary-font;
        line-height: 2;
        letter-spacing: 1px;
        color: #707579;
      }
    }
  }

  #tours {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas:
      "canada canada asia asia"
      "canada canada asia asia"
      "canada canada europe us";
    justify-content: center;
    grid-gap: 10px;
    margin: 50px 0px 120px 0px;
    width: 90%;

    .tour {
      @include flex-justify-center;
      position: relative;
      font-family: $primary-font;

      @each $num, $tour in $tours {
        &:nth-child(#{$num}) {
          grid-area: $tour;
          background: url(../img/tour-#{$num}.jpg);
          background-size: cover;
          color: #fff;

          .tours-overlay {
            @include dark-overlay(#{$num});
            background-color: rgba(0, 0, 0, 0.4);
            width: 100%;
          }
        }
      }

      h4 {
        text-align: center;
        align-self: flex-end;
        position: relative;
        letter-spacing: 4px;
        font-size: 25px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 30px;
        z-index: 2;
      }
    }
  }
}

// SECTION 4 - EXPERIENCES

#experience {
  @include flex-justify-center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  background: url(../img/experience.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .experience-overlay {
    @include dark-overlay(5);
    width: 100%;
  }

  //INFO TEXT

  .experience-text {
    position: relative;
    font-family: $primary-font;
    color: #fff;
    width: 50%;
    margin: 80px 25px 100px 20px;
    z-index: 2;

    h1 {
      font-size: 40px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 15px;
      width: 90%;
    }

    p {
      color: #aeaeaf;
      font-family: $secondary-font;
      letter-spacing: 1px;
      line-height: 2;
      margin-bottom: 20px;
    }

    h3 {
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0.8px;

      span {
        font-size: 50px;
        color: $primary-color;
      }
    }
  }

  //CARDS

  .experience-info {
    @include flex-justify-center;
    position: relative;
    color: #fff;
    width: 40%;
    margin: 80px 25px 100px 0px;
    z-index: 2;

    .info-card {
      @include flex-col-align-center;
      padding: 15px;

      &:nth-child(2) {
        margin: 0px 20px;
      }

      p {
        color: #aeaeaf;
        font-family: $secondary-font;
        letter-spacing: 1px;
        line-height: 2;
        margin-bottom: 20px;
      }

      h1 {
        font-family: $primary-font;
        font-size: 40px;
        margin-bottom: 20px;
      }

      div {
        position: relative;
        background-color: $primary-color;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        text-align: center;

        &:after {
          @include dark-overlay(5);
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }

      i {
        position: relative;
        font-size: 20px;
        z-index: 2;
        margin-top: 20px;
      }
    }
  }
}

// SECTION 5 - GUIDES

#guides {
  position: relative;
  @include flex-col-align-center;
  background-color: #eee;
  width: 100%;
  z-index: 2;

  h1 {
    font-family: $primary-font;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 80px 0px 35px 0px;
  }

  .guides-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    grid-gap: 50px;
    justify-content: center;
    margin-bottom: 120px;
    width: 90%;

    .guide-card {
      img {
        width: 100%;
      }

      .card-text {
        font-family: $primary-font;
        text-align: center;
        color: #fff;
        letter-spacing: 0.8px;
        padding: 10px;
        margin-top: -4px;
        background-color: $secondary-color;

        p {
          &:nth-child(1) {
            font-weight: 600;
            font-size: 20px;
            margin: 15px 0 5px 0;
          }
          &:nth-child(2) {
            color: #a8acaf;
            font-weight: 400;
            font-size: 13px;
            text-transform: uppercase;

            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

//SECTION 6 - GALLERY
#gallery {
  @include flex-col-align-center;

  h1 {
    font-family: $primary-font;
    font-size: 45px;
    text-transform: uppercase;
    margin: 100px 10px 50px 10px;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    grid-gap: 10px;
    width: 100%;
    margin-bottom: 120px;

    .gallery-card {
      @include flex-col;
      width: 100%;
      text-align: center;
      overflow: hidden;

      &:hover {
        cursor: pointer;
      }

      img {
        height: 92%;
        width: 100%;
      }

      p {
        margin-top: 0;
        background-color: $primary-color;
        font-family: $primary-font;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        padding: 10px;
      }
    }
  }
}

// SECTION 7 - PRICES
#prices {
  @include flex-col-align-center;
  background-color: #eee;

  h1 {
    font-family: $primary-font;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    margin: 100px 10px 50px 10px;
  }

  .price-container {
    @include flex-justify-center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 120px;

    .price-info {
      position: relative;
      font-family: $primary-font;
      text-align: center;
      height: 439px;
      margin: 55px 10px;
      overflow: hidden;

      p {
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        margin-bottom: 15px;
      }

      .price-img {
        @include flex;
        justify-content: flex-end;
        width: 300px;
        height: 400px;

        p {
          align-self: flex-start;
          background-color: $primary-color;
          color: #fff;
          font-size: 30px;
          padding: 5px;
          margin: 3px 3px 0px 0px;
          i {
            font-size: 15px;
          }
        }
      }

      @for $num from 1 through 4 {
        &:nth-child(#{$num}) {
          .price-img {
            background: url(../img/price-#{$num}.jpg);
            @include background-props;
          }
        }
      }

      .price-book {
        background: rgba(242, 177, 41, 0.8);
        color: #333;
        position: relative;
        width: 100%;
        padding: 20px;

        p {
          text-transform: capitalize;
          font-weight: 600;
        }

        a {
          display: inline-block;
          text-decoration: none;
          color: #333;
          border: 1px solid #333;
          padding: 13px 20px;

          &:hover {
            background-color: #eee;
          }
        }
      }
    }
  }
}

// SECTION 8 - CLIENT REVIEWS
#reviews {
  @include flex-col-align-center;
  background-color: $primary-color;

  h1 {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    margin: 100px 0px 50px 0px;
  }

  .review-container {
    @include flex-justify-center;
    width: 100%;
    flex-wrap: wrap;

    .review-card {
      @include flex-col;
      font-family: $primary-font;
      width: 350px;
      margin-bottom: 40px;

      p:nth-child(1) {
        background-color: $secondary-color;
        border-radius: 5px;
        font-family: $secondary-font;
        color: #707579;
        letter-spacing: 1px;
        line-height: 2;
        padding: 35px 35px;

        i {
          font-size: 20px;
          color: #eee;
        }
      }

      &:nth-child(2) {
        margin: 0px 20px 40px 20px;
      }

      @for $num from 1 through 4 {
        &:nth-child(#{$num}) {
          .card-img {
            align-self: flex-end;
            background: url(../img/review-#{$num}.jpg);
            @include background-props;
            border: 3px solid lighten($primary-color, 15);
            border-radius: 50%;
            height: 50px;
            width: 50px;
            margin: 5px 5px 0px 0px;

            @if ($num == 1) {
              background-position: top;
            }
          }
        }
      }

      p:nth-child(3) {
        align-self: flex-end;
        color: #fff;
        font-weight: 600;
        margin: 15px 5px;
      }
    }
  }
}

// SECTION 9 - CONTACT US
#contact {
  @include flex-col-align-center;

  h1 {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin: 100px 10px 50px 10px;
  }

  .contact-container {
    @include flex-justify-center;
    width: 100%;
    flex-wrap: wrap;

    .contact-card {
      @include flex-col-align-center;
      font-family: $secondary-font;
      width: 350px;
      margin-bottom: 50px;

      i {
        font-size: 30px;
        color: $primary-color;
        margin-bottom: 20px;
      }

      h4 {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 1px;
        margin-bottom: 30px;
      }

      p {
        color: #707579;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 2;
        text-align: center;
      }

      &:nth-child(2) {
        margin: 0px 10px 40px 10px;
      }
    }
  }
  .form-container {
    @include flex-justify-center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 100px;

    #contact-form {
      @include flex-col-align-center;
      border: none;
      border-radius: 5px;
      box-shadow: 2px 6px 18px 5px rgba(227, 227, 227, 1);
      padding: 40px;
      margin-right: 20px;
      margin-bottom: 50px;

      input {
        background-color: darken(white, 3.4);
        border: none;
        border-radius: 3px;
        font-family: $primary-font;
        font-size: 13px;
        letter-spacing: 1px;
        width: 450px;
        height: 50px;
        padding-left: 15px;
        margin-bottom: 20px;
      }

      textarea {
        background-color: darken(white, 3.4);
        border: none;
        border-radius: 3px;
        font-family: $primary-font;
        font-size: 13px;
        letter-spacing: 1px;
        width: 450px;
        height: 80px;
        padding: 15px 0px 0px 15px;
        margin-bottom: 20px;
      }

      button {
        -webkit-appearance: none;
        background-color: $primary-color;
        border: none;
        border-radius: 3px;
        color: #fff;
        font-family: $primary-font;
        font-size: 15px;
        letter-spacing: 0.7px;
        padding: 10px 0px;
        width: 450px;
      }
    }

    .form-img {
      background: url(../img/form.jpg);
      @include background-props;
      width: 500px;
      height: 500px;
    }
  }
}

//SECTION 10 - MAPS
#map {
  width: 100%;
  height: 30vh;
  padding: 10px;
  margin-bottom: 10px;
}

//SECTION 11 - MAIN FOOTER
#main-footer {
  @include flex-col-align-center;
  color: #fff;
  background-color: $secondary-color;

  .footer-home {
    font-family: $primary-font;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 40px 0px;

    i {
      color: $primary-color;
    }
  }
  .footer-container {
    @include flex-justify-center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;

    .footer-card {
      @include flex-col;
      font-family: $primary-font;
      letter-spacing: 0.5px;
      width: 200px;
      //border: 1px solid lime;
      margin: 0px 20px;

      h2 {
        font-weight: 400;
        margin-bottom: 25px;
      }

      a {
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        margin-bottom: 18px;

        i {
          font-size: 12px;
          color: #707579;
          margin-right: 5px;
        }
      }

      p {
        font-size: 15px;
        line-height: 2;
        margin-bottom: 18px;

        i {
          font-size: 12px;
        }
      }
    }
  }

  .footer-text {
    @include flex-justify-center;
    background-color: #1e1f1d;
    width: 100%;
    padding: 40px 0px;

    p {
      font-family: $secondary-font;
      letter-spacing: 0.6px;
      color: #8c8c8c;
      margin-left: auto;

      a,
      span {
        font-family: $primary-font;
        color: #eee;
        text-decoration: none;
      }
    }
    .scroll-up {
      @include flex-col-align-center;
      justify-content: center;
      margin: 0px 20px 0px auto;
      width: 35px;
      height: 35px;
      background-color: lighten(#1e1f1d, 10);
      border-radius: 50%;

      a {
        font-size: 12px;
        color: #fff;
      }
    }
  }
}

@import "mobile";
